<section id='user_controls'>
  <div>
    <label>Lat</label>
    <input type="number" ng-model='$ctrl.lat' />
  </div>
  <div>
    <label>Lon</label>
    <input type="number" ng-model='$ctrl.lon' />
  </div>
  <button type="button" ng-click='$ctrl.search()'>Search</button>
</section>
  <section ng-if='$ctrl.weatherData'>
    <div id='summary'>
      <img ng-src="{{$ctrl.imageLookup[$ctrl.weatherData.icon]}}" />
      <h3>{{ $ctrl.weatherData.summary }}</h3>
    </div>
    <div id='temperature'>
      <h1>{{  $ctrl.weatherData.temperature | number:0 }}&deg; F</h1>
      <h2>Feels {{$ctrl.weatherData.apparentTemperature | number:0 }}&deg; F</h2>
    </div>
    <div id='add-stats'>
      <p>Precipitation Probability: {{ $ctrl.weatherData.precipProbability * 100 | number:2 }}%</p>
      <p>Humidity: {{ $ctrl.weatherData.humidity * 100 | number:0 }}%</p>
      <p>UV: {{ $ctrl.weatherData.uvIndex }}</p>
    </div>
  </section>
  <!-- <pre>{{ $ctrl.weatherData | json }}</pre> -->
<!-- <p>{{ $ctrl.weatherData.time * 1000| date:"short" }}</p> -->
